/* ----------------------------- */
/*          Custom CSS           */
/* ----------------------------- */

main.main .container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "picture sidebar"
                         "picture content";
    background-color: white;
    box-shadow: var(--boxshadow);
    border-radius: .4rem;
    padding: 10px;
    line-height: 4rem;
    grid-gap: 1px;
}

main.main .container > div{
    padding: .3rem;
}

main.main .container .sidebar{
    grid-area: sidebar;  
    background-color: antiquewhite; 
}
main.main .container .content{
    grid-area: content;    
    background-color: #d4b4f3;
    min-height: 300px;
}
main.main .container .picture{
    grid-area: picture;    
    background-color: cyan;
}

@media (max-width: 858px)
{
    main.main .container{
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar" "content" "picture";
        grid-gap: 10px;
    }
}
